<section>
    <div class="container">
        <div class="row">
            <div class="col-12" style="  display: flex; flex-direction: column; align-items: center;">
                <div class="comment-detail">
                    <div class="comment-header">
                        <p class="comment-writer">
                            {{ comment.writer }}
                        </p>
                        <p class="comment-date">
                            {{ comment.create_date }}
                        </p>
                    </div>
                    <div class="comment-detail-content">
                        {{ comment.comment_text }}
                    </div>
                    <img src="/static/assets/comment-footer.svg" class="comment-footer-image">
                </div>
            </div>
        </div>
    </div>
</section>









































<!--<div style="border: 1px solid; text-align: left">-->
<!--    <div>-->
<!--        <strong>-->
<!--            {{ comment.writer }}-->
<!--        </strong>-->
<!--        {{ comment.create_date }}-->
<!--    </div>-->
<!--    <div>-->
<!--        {{ comment.comment_text }}-->
<!--    </div>-->
<!--</div>-->