    <footer class="footer">
      <div class="footer-total">
        <h1 class="footer-title">Grape's Blog<i class="fas fa-leaf"></i></h1>
        <p class="footer-content">Python, Django, Javascript, Data Analysis등 웹 개발 및 IT 관련된 내용을 다룹니다.</p>
        <ul class="footer-links">
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
        </ul>
        <p class="footer-last">2021 Since</p>
      </div>
    </footer>