{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grape Blog</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- base css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <!-- grid css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">

    <!-- grid css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- study list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">

    <!-- target study list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/study_list.css' %}">

    <!-- target study list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/study_detail.css' %}">

    <!-- target study list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">

    <!-- project list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_list.css' %}">

    <!-- profile list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

    <!-- comment form css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">

    <!-- comment detail css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/comment_detail.css' %}">

    <!-- comment detail css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">

    <!-- js -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- icon -->
    <script src="https://kit.fontawesome.com/28c205a363.js" crossorigin="anonymous"></script>
</head>