    <nav class="navbar">
        <div class="nav-list">
        <a href="javascript:;" class="fas fa-bars"  id="menuBtn"><i></i></a>
        <h2 class="title" id="menuTitle"></h2>
        <span class="usrInfo">
        <a href="javascript:;" id="userName"></a>
        </span>
        <aside class="sideBar">
        <nav class="menu">
          <a href="javascript:;" class="menuClose"></a>
          <ul class="depth_application" id ="menuList">
              <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
              <li><a href="#"><i class="fas fa-user-circle"></i>Profile</a></li>
              <li><a href="#"><i class="fas fa-lightbulb"></i>Project</a></li>
              <li><a href="#"><i class="fas fa-book"></i>Study</a></li>
          </ul>
          </nav>
        </aside>
        </div>
        <ul class="nav-menu">
          <li><a href="#"><img src="../static/assets/user01.png" alt=""></a></li>
          <li><a href="#"><img src="../static/assets/project01.png" alt=""></a></li>
          <li><a href="#"><img src="../static/assets/book02.png" alt=""></a></li>
        </ul>
        <div class="nav-search">
          <i class="fas fa-search"></i>
        </div>
    </nav>