{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="study-banner">
        <div class="study-banner-total">
          <div class="study-banner-img">
              <img src="/static/assets/study_list.svg" alt="">
          </div>
        </div>
    </section>

    <section class="study-card">
        <div class="container">
          <div class="row">
            <div class="col-12 md-4">
            <h2 class="list-title">Category</h2>
              <div class="study-card-total">
                    {% if study_list %}
                        {% for list in study_list %}
                        <div class="study-card-list">
                            <a href="{% url 'studyapp:studylist' list.pk %}">
                                <h2 class="study-card-title">{{ list.study_title }}</h2>
                                <p class="study-card-image">
                                <img src="{{ list.study_image.url }}" alt="">
                             </a>
                            </p>
                        </div>
                        {% endfor %}
                    {% else %}
                      <h1 style="font-size:40px; font-weight: 200; margin: 200px 0; text-align:center;">
                      There are no Category yet.</h1>
                    {% endif %}
              </div>
            </div>
          </div>
        </div>
    </section>

    {% if is_paginated %}
      <nav aria-label="Page navigation example">
          <div class="page-total">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <li>
                        <i class="fas fa-chevron-left"></i>
                    </li>
                </a>
              {% else %}
                <a href="#" class="page-link">
                    <li class="page-item">
                        <i class="fas fa-chevron-left"></i>
                    </li>
                </a>
              {% endif %}

              {% for page in page_range %}
                <a class="page-link" href="?page={{ page }}">
                <li class="page-item" {% if page == page_obj.number %}class="active"{% endif %}>
                    {{ page }}
                </li>
                </a>
              {% endfor %}

              {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <li class="page-item">
                        <i class="fas fa-chevron-right"></i>
                    </li>
                </a>
              {% else %}
                <a class="page-link" href="#">
                    <li class="page-item" {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                </a>
              {% endif %}
            </ul>
          </div>
      </nav>
    {% endif %}
{% endblock %}