{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="profile-intro">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="profile-header">
              <div class="img-cover">
                <img src="/static/assets/hello.png" alt="">
                <ul class="profile-icons">
                  <li><a href="https://www.instagram.com/jd.bxxm/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100012555663281" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://github.com/grape-git" target="_blank"><i class="fab fa-github"></i></a></li>
                </ul>
              </div>
              <div class="profile-text">
                <h1 class="profile-title">안녕하세요 <br>
                   백엔드 개발자입니다.</h1>
                <p class="profile-content">
                  디자인 전공에 완전 초보 개발자의 성장을 담았습니다.<br>
                  채워야 할 부분이 많이 있지만 한걸음 한걸음 "꾸준히 성장 하겠다."<br>
                  는 마음가짐으로 계속 나아가는 서버 개발자가 되겠습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skill">
      <div class="container">
        <div class="row">
          <div class="col-12">
              <div class="skill-content">
                <h1>SKILL</h1>
                <div class="skil-card">
                  <div class="skill-total">
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>80<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">HTML</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>60<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">CSS</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>50<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">Javascript</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>60<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">python</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>50<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">django</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>50<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">oracle</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>30<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">R</h2>
                      </div>
                    </div>
                    <div class="card-skill">
                      <div class="card-box">
                        <div class="percent">
                          <svg class="skill-chart">
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                            <h2>20<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="skill-text">jQuery</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <img src="/static/assets/test01.png" alt="" class="middle-image">

    <section class="project">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="project-content">
              <h1>PROJECT</h1>
              <div class="slide_wrapper">
                  <ul class="slides">
                  {% if project_list %}
                  {% for project in project_list %}
                      <a href="{% url 'projectapp:projectdetail' project.pk %}">
                        <li class="slide-list">
                            <img src="{{ project.content_image.url }}" alt="" class="slide-image">
                            <h2 class="slide-title">{{ project.title }}</h2>
                            <p class="slide-date">{{ project.created_date|date:'Y-m-d' }}</p>
                        </li>
                      </a>
                  {% endfor %}
                </ul>
              </div>
              <div class="controls">
                <div class="prev"><i class="fas fa-arrow-left"></i></div>
                <div class="next"><i class="fas fa-arrow-right"></i></div>
              </div>
                  {% else %}
                    <h1 style="font-size:40px; font-weight: 200; margin: 50px 0 50px 350px; text-align:center;">
                      There are no project yet.</h1>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-image">
      <div class="image-box">
        <img src="/static/assets/mumu01.svg" alt="" class="back">
        <img src="/static/assets/mumu02.svg" alt="" class="front">
      </div>
    </div>
    <script src="/static/js/slide.js"></script>
{% endblock %}
